@use './abstracts/' as *;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Space+Grotesk:wght@300;400;500;600;700&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    margin-right: 0 !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main-1;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $txt-color; 
}



/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 67px; 
    position: relative; 
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;  
}

.fixed {
    position: fixed;
    overflow: hidden;
}

.hiden {
    overflow: hidden;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-hover; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-hover;
}   

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main-2;
    font-weight: 700;
    color: $white;
}
h1,
.h1 {
    font-size: 80px;
    line-height: 1.2;
}
h2,
.h2 {
    font-size: 64px;
    line-height: 1.25;
}
h3,
.h3 {
    font-size: 44px;
    line-height: 56px;
}
h4,
.h4 {
    font-size: 36px;
    line-height: 1.2222;
}
h5,
.h5 {
    font-size: 24px;
    line-height: 1.5;
}
h6,
.h6 {
    font-size: 20px;
    line-height: 1.6;
}

.h7,
.h8 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    color: $white;
}

.h7 {
    font-size: 24px;
    line-height: 1.33;  
    &.st {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
    }
}

.h8 {
    font-size: 20px;
    line-height: 1.3;  
    &.st {
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
    }
}

p {
    margin-bottom: 0;
}

.padding-0 {
    padding: 0 !important;
}

.radius-16 {
    border-radius: 16px;
}

.radius-24 {
    border-radius: 24px;
}

.left-auto {
    margin-left: auto;
}

.flex-column {
    flex-direction: column;
}

.container {
    max-width: 1440px;
    &.w_1470 {
        max-width: 1470px;
    }
    &.w_1920 {
        max-width: 1920px;
    }
    &.w_1950 {
        max-width: 1950px;
    }
}

.brand-row1 {
    .container {
        max-width: 1622px;
    }
}
.brand-row2 {
    .container {
        max-width: 1854px;
    }
}

.bg_9 {
    background-color: $bg_9;
}
.z-index {
    z-index: 999;
}

.white {
    color: $white;
}
.white-dark {
    color: $white !important;
}
.color-main {
    color: $bg_2;
}
.color-primary {
    color: $color-hover;
}
.color-11 {
    color: $bg_11;
}
.color-12 {
    color: $bg_12;
}

.mb-12 {
    margin-bottom: 12px;
}

.bg-12 {
    background-color: $bg_12; 
}

#wrapper {
    width: $w100;
    height: $w100;
    overflow: hidden;
    position: relative;
}

.text-gradient {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
ul, li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
    transition: all .3s;
    cursor: pointer;
    display: inline-block;

    &:hover {
        color: $color-hover;
        transition: all .3s;
    }
}

.center {
    text-align: center;
}

.mt-35 {
    margin-top: -35px;
}

.tf-spacing {
    &.h114 {
        height: 114px;
    }
    &.h100 {
        height: 100px;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    width: 100%;
    margin: auto;
}
.container-fluid,
.container {
    padding-left: 15px;
    padding-right: 15px;
}
 
.flex {
    @include flex(flex-start, flex-start);
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.align-items-center {
        align-items: center;
    }
    &.align-items-end {
        align-items: flex-end;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
}

.justify-between {
    justify-content: space-between;
}


.bg_main {
    background: $color-hover;
}
.bg_main_2 {
    background: $bg_2;
}

.bg_main_10 {
    background: $bg_10;
}

.bg_13 {
    background: $bg_13;
}


.bg_main_3 {
    background: #BBADFF;
}

.bg_main_4 {
    background: #F3F1FB;
}
.bg_main_5 {
    background: $bg_5;
}

.bg_main_7 {
    background: $bg_7;
}

.bg_main_8 {
    background: $bg_8;
}

.boder-right {
    border-right: 1px solid #E6E6E6;
}

.radius-10 {
    border-radius: 10px;
}
.radius-4 {
    border-radius: 4px;
}

.radius-58 {
    border-radius: 58px;
}

.color1 {
    color: $color_1 !important;
}

.color2 {
    color: $bg_2 !important;
}

a.color2 {
    color: $bg_2 !important;
    &:hover {
        color: $color-hover;
    }
}

.gradient {
    background: $gradient;
}

.gradient_2 {
    background-image: $gradient_2;
}

.gradient_3 {
    background-image: $gradient_3;
}

.right {
    text-align: right;
}
 


// form //
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"], 
input[type="tel"], 
input[type="color"] {
    border: none;
    border-bottom: 2px solid #3A3B3E; 
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 24px;
    line-height: 40px;
    border-radius: 0;
    padding: 0 0 18px 0;
    width: 100%;
    background: transparent; 
    color: $txt-color;
    font-family: $font-main-2;
}
button {
    outline: none;
    border: none;
}
textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder, 
input[type="tel"]::placeholder, 
input[type="color"]::placeholder { 
    color: $txt-color;
    font-family: $font-main-2;
}



/* Scroll Top
-------------------------------------------------------------- */
#scroll-top {
    position             : fixed;
    display              : block;
    width                : 50px;
    height               : 50px;
    line-height          : 50px;
    border-radius        : 4px;
    text-align           : center;
    z-index              : 999;
    right                : 14px;
    bottom               : 23px;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    opacity              : 0;
    visibility           : hidden;
    cursor               : pointer;
    overflow             : hidden;
}

#scroll-top.show {
    right     : 15px;
    opacity   : 1;
    visibility: visible;
}

#scroll-top:before,
#scroll-top:after {
    content           : "";
    position          : absolute;
    top               : 0;
    left              : 0;
    width             : 100%;
    height            : 100%;
    @include transition3;
}

#scroll-top:before {
    z-index         : -1; 
}


#scroll-top:after {
    content    : "\f077";
    font-family: "Font Awesome 5 Pro";
    font-size  : 18px;
    color      : #ffffff;
    font-weight: 600;
}

#scroll-top:hover {
    transform: translateY(-7%);
}


/* PreLoad
-------------------------------------------------------------- */
.preload {
    overflow: hidden;
} 

.preload-container {
    position  : relative;
    width     : 100%;
    height    : 100%;
    background: #fff;
    position  : fixed;
    top       : 0;
    bottom    : 0;
    right     : 0;
    left      : 0;
    z-index   : 99999999999;
    display   : block;
    overflow: hidden;
}

.preload-logo {
	position           : absolute;
	top                : 50%;
	left               : 50%;
	width              : 50px;
	height             : 50px;
	z-index            : 100;
	margin             : -30px 0 0 -30px;
	background: #ffffff;
	border-radius: 50%;
	background-image   : url('./../../assets/images/logo/preload.png');
	background-repeat  : no-repeat;
	background-position: center center;
	animation: 
	preload 1s linear infinite alternate;
	-webkit-animation-name:bounceIn; 
	animation-name:bounceIn; 
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
} 

.tf-section {  
    z-index: 2;
    position: relative;
    padding: 100px 0;
    margin-bottom: 0 !important;
    &.pb-98 {
        padding-bottom: 98px;
    }
    &.pd0 {
        padding: 0;
    }
    &.pt-80 {
        padding-top: 80px;
    }
    &.pb0 {
        padding-bottom: 0;
    }
    &.pt0 {
        padding-top: 0;
    }
    &.pt-120 {
        padding-top: 120px;
    }
}


/* Switcher
-------------------------------------------------------------- */
.switcher-container {
    position: fixed;
    right: -290px;
    top: 150px;
    width: 290px;
    background-color: #202020;
    z-index: 99999999;
  }
  
  .switcher-container h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    height: 50px;
    line-height: 45px;
    padding-left: 50px;
    padding-right: 85px;
    margin: 0;
    font-weight: 400;
  }
  
  .switcher-container h2 a {
    background-color: #A0A3AA;
    display: block;
    position: absolute;
    left: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: 0;
    color: #fff;
  }
  
  .switcher-container h2 a:hover,
  .switcher-container h2 a:focus {
    text-decoration: none;
  }
  
  .switcher-container h2 .setting {
    margin-top: -2px;
    -webkit-animation: rotating 1s infinite linear;
    animation: rotating 1s infinite linear;
  }
  
  .switcher-container h3 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  .switcher-container .selector-box {
    color: #fff;
    overflow: hidden;
  }
  
  .switcher-container .layout-switcher {
    margin: 0 0 10px 0;
    overflow: hidden;
  }
  
  .switcher-container .layout-switcher a.layout {
    float: left;
    display: block;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    padding: 10px 20px;
    margin-left: 10px;
  }
  
  .switcher-container .layout-switcher a.layout:first-child {
    margin-left: 0;
  }
  
  .switcher-container .layout-switcher a.layout:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .switcher-container .color-box {
    height: auto;
    overflow: hidden;
    margin-bottom: 6px;
  }
  
  .switcher-container .styleswitch {
    margin-bottom: 10px;
  }
  
  .sw-odd {
    background-color: #323232;
    padding: 20px 0 20px 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .sw-even {
    background-color: #202020;
    padding: 20px 0 20px 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .sw-even a {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 26px 10px 27px;
    margin-right: 10px;
    letter-spacing: 1.8px;
  }
  
  .sw-even a:hover {
    background-color: #14a077;
    border: 1px solid #14a077;
    color: #fff !important;
  }
  
  .sw-light {
    background-color: #fff;
    color: #000 !important;
  }
  
  .sw-odd a {
    font-size: 16px;
    color: #fff;
    width: 100%;
    display: inline-block;
    line-height: 30px;
    width: 100%;
    position: relative;
    padding-left: 47px;
  }
  
  .sw-odd .ws-colors a:before {
    background: none;
  }
  
  .sw-odd .ws-colors {
    @include flex(center,flex-start);
    a {
        width: auto;
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: #A0A3AA;
        border-radius: 10px;
        margin-right: 15px;
        @include flex(center,center);
        &.is_active {
            background-color: $color-hover;
        }
      }
  }
  
  .sw-odd #color2 {
    background-color: #8b91dd;
  }
  
  .sw-odd #color3 {
    background-color: #fb236a;
  }
  
  .sw-odd #color4 {
    background-color: #1967d2;
  }
  
  .sw-odd #color5 {
    background-color: #059669;
  }
  
  .sw-odd #color6 {
    background-color: #3c65f5;
  }
  
  .sw-even h3 {
    margin-bottom: 6px;
  }
/* @Keyframe */
@keyframes rotating {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }  

.themes-bg {
    background-color: $white;
}

.themes-color {
    h1,h2,h3,h4,h5.h6 {
        color: $bg_2;
    } 
}

.themes-bg {
    .tf-title .sub-title.white,
    .sub-title,h6 {
        color: $bg_2;
    }
    .swiper-pagination span {
        background: transparent;
        border-color: $bg_2;
        &.swiper-pagination-bullet-active {
            background-color: $bg_2;
        }
    }
    .swiper-pagination span::after {
        border-color: $bg_2;
    }
}
.show-dark,
.swiper-dark,
.social-dark,
.logo-dark {
    display: none;
}

.home4 {
    .tf-title-style4 .sub-title {
        color: #3C60DC !important;
    }
}

.is_dark {   
    &.home19 {
        background-color: $bg_2;

        #contact .tf-button {
            border-color: #3BBB67;
            background-color: #3BBB67;
            color: $white;
        }
        .contact-inner {
            background-color: $bg_2;
            border-color: $white;
        }
        .tf-section .pricing-box {
            background-color: $bg_2;
            border-color: $white;
            &::before {
                background-color: $white;
            }
            .time span,
            h5 {
                color: $white;
            }
            ul {
                border-color: $white;
            }
            ul li span {
                color: $txt-color;
            }
            .link {
                border-color: $white;
                color: $white;
            }
            &:hover, &.active {
                background-color: #3BBB67;
                ul li span {
                    color: $white;
                }
                .link {
                    border-color: $bg_2;
                }
            }
        }
        .swiper-pagination.style2 span {
            background-color: $white !important;
            &::after {
                border-color: $white;
            }
        }
        .wrapper_portfolio .box .image .button {
            background-color: #3BBB67;
            color: $white;
            &:hover {
                background-color: $white;
                color: $bg_2;
            }
        }
        .wrapper_service .box {
            background-color: $bg_2;
            border-color: $white;
            &::before {
                background-color: $white;
            }
            h5,
            p {
                @include transition3;
            }
            &.active,
            &:hover {
                background-color: #3BBB67;
                h5,
                p {
                    color: $bg_2 !important;
                }
            }
        }

        .list_contact > li p:nth-child(2),
        .tf-brand .desc,
        .testimonials-box .sub,
        .testimonials-box .inner .content h5,
        .wrapper_portfolio .box .content h5,
        .wrapper_service .box h5,
        .wrapper_service .box p,
        .my_skill_box .content-progress-box .progress-title-holder span,
        .my_skill .title,
        .resume-wrap .box ul li h5,
        .resume-wrap .box h4,
        .tf-title .title,
        .number-content {
            color: $white !important;
        }
        .resume-wrap .box ul li::before {
            background-color: $bg_2;
            border-color: $white;
        }
        .testimonials-box {
            background-color: $bg_2;
            border-color: $white;
            &::before {
                background-color: $white;
            }
        }
        .my_skill_box .content-progress-box .progress-content-outter,
        .resume-wrap .box ul::before {
            background-color: $white;
        }
        .resume-wrap .box ul li {
            &.active,
            &:hover {
                h5 {
                    color: #3BBB67 !important;
                }
            }
        }
        
        p {
            color: $txt-color !important;
        }
        .header #main-nav .menu li {
            a {
                color: $white;
            }
            &.menu-item-has-children > a {
                &::after {
                    color: $white;
                }
                &::before {
                    background-color: $white;
                }
            }
        } 
        .page-title.style11 {
            background: linear-gradient(8.36deg, rgba(45, 37, 4, 0) 5.56%, #352B00 93.18%);
        }
        .page-title.style11 .content-box {
            .content .button-wrapper .button-style {
                .btn-main {
                    background-color: #3BBB67;
                }
                .btn-absolute {
                    background-color: $white;
                }
            }
            .image-box .box .content {
                background-color: $bg_2;
                border-color: $white;
                box-shadow: 6px 6px 0px $white;
                &::before {
                    display: none;
                }
                .number-content,
                .desc {
                    color: $white !important;
                }
            }
        }
        .page-title.style11 .content-box .content .sub-title {
            color: $white !important;
        }
    }
    &.home18 {  
        #footer ul li a {
            color: $txt-color;
        }
        .dashboard-style2 .article-dashboard {
            background: $bg_2;
            .counter_wrapper .box .content .box-couter .number-content {
                color: $white;
            }
            .body-dashboard {
                background: $bg_2;
                .section-inner {
                    border-color: $color_1;
                    &#Contact form fieldset {
                        p {
                            color: $white !important;
                        }
                        select {
                            color: $white;
                        }
                        textarea,
                        input {
                            color: $white !important;
                            border-color: $txt-color !important;
                            background-color: transparent !important;
                            &::placeholder {
                                color: $color_1;
                            }
                            &:focus {
                                border-color: $white !important; 
                            }
                        }
                    }
                    .sub-title-style {
                        color: $white !important;
                    }
                    &.page {
                        .content ul li p:nth-child(2),
                        .title span {
                            color: $white !important;
                        } 
                    }
                    .my_skill .my_skill_box .progress-content {
                        background-color: $white;
                    }
                    &#Service .wrapper_service .box-style2 {
                        border-color: $color_1;
                        .icon {
                            svg {
                                path {
                                    fill: $white;
                                }
                            }
                        }
                        &:hover {
                            background-color: #000000;
                        }
                    }
                    .resume-box .box .inner {
                        border-color: rgba(255, 255, 255, 0.1);
                        >div {
                            border-color: $white;
                            &:hover {
                                &::before {
                                    border-color: $white;
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
    &.home17 { 
        .dashboard-style2 #side-bar-dashboard .info-style2 {  
            .social {
                display: none;
                &.dark {
                    li {
                        a {
                            height: 60px;
                            width: 60px;
                        }
                    }
                    display: flex;
                }
            }
            .info_contact li {
                a,
                span {
                    color: $white;
                }
            }
            .name {
                color: $white;
            }
        }
        .swiper-light {
            display: none;
        }
        .swiper-dark {
            display: flex;
        }
        background: #171717; 
        .dashboard-style2 .article-dashboard {
            
            .body-dashboard {
                
                background-color: #171717;
                .section-inner {
                    border-color: rgba(255, 255, 255, 0.2);
                    &#Service .wrapper_service .box-style2 {
                        border-color: rgba(230, 230, 230, 0.1);
                        &:hover,.active {
                            border-color: $bg_9;
                        }
                    }
                    .sub-title-style {
                        color: $white !important;
                        span {
                            color: $bg_9;
                        }
                    }

                    .my_skill .my_skill_box .progress-content-outter {
                        background-color: rgba(255, 255, 255, 0.2);;
                    }

                    .resume-box .box .inner {
                        border-color: rgba(255, 255, 255, 0.2);
                        > div::before {
                            background: #171717;
                        }
                        div {
                            p {
                                color: $white !important;
                                &.date {
                                    @include transition3;
                                    color: $txt-color !important;
                                }
                            }
                            &:hover {
                                p {
                                    &.date {
                                        color: $bg_9 !important;
                                    }
                                }
                            }
                        }
                    }

                    &#Contact form fieldset {
                        textarea,
                        input {
                            border-color: rgba(230, 230, 230, 0.1) !important;
                            background-color: transparent;
                            color: $white !important;
                            &::placeholder {
                                color: $txt-color !important;
                            }
                        }
                    }

                    .list_contact li {
                        border-color: rgba(255, 255, 255, 0.2);
                        p {
                            color: $white !important;
                        }
                    }

                    .sl-testimonial .btn-testimonials {
                        border-color: $bg_9 !important;
                        i {
                            color: $bg_9 !important; 
                        }
                        &.swiper-button-disabled {
                            border-color: $white !important;
                            i {
                                color: $white !important; 
                            } 
                        }
                    }

                    .testimonials-box {
                        .inner .content p span {
                            color: $bg_9;
                        }
                        .sub {
                            color: $white !important;
                        }
                    }
                }
                
            }
            background-color: #171717;
            .body-dashboard .section-inner.page .content ul li {
                span {
                    color: $white;
                }
                color: $txt-color;
            }
            .body-dashboard .section-inner.page .slider {
                p {
                    color: $white !important;
                }
                border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
        } 
        .header #site-header-inner .tf-button::after {
            background: url(./../../assets/images/backgroup/bg_button.png) center right no-repeat;
        }
        #main-nav .menu li.menu-item.current-menu-item > a::before {
            background-color: $white;
        }
        .header-style2 #main-nav .menu li.menu-item-has-children > a::after,
        .header-style2 #main-nav .menu li a {
            color: $white;
        } 
    }
    &.home16 { 
        .page-title.style10 .content-box .content {
            background: url('./../../assets/images/backgroup/bg_content.png') center center no-repeat;
            background-size: cover; 
        }
        .project-wrapper .project-box {
            border: 1px solid #191e3c;
        }
        .bg_pricing {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 53px;
            z-index: -1;
        }
        background: url(./../../assets/images/backgroup/bg_body_16.png) center center no-repeat;
        background-size: cover;
        .service-box-style6 .content {
            background: radial-gradient(50% 50% at 22.8% 0%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
            backdrop-filter: blur(6px);
            border: 1px solid #191e3c; 
        }
        .service-box-style6 .icon::after {
            background: linear-gradient(90deg, rgba(0, 159, 255, 0.3) 18.23%, rgba(203, 86, 128, 0.3) 100%), #000727;
        }
        #footer.style2 {
            .social {
                &.dark {
                    display: flex;
                }
                &.light {
                    display: none;
                }
            }
        }
        #footer.style2 .footer-left p {
            color: #E6E6E6;
        }
        #footer.style2 {
            background: radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
            backdrop-filter: blur(6px);
        }
        .pricing-box-style3 .btn {
            color: $white;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }
        .pricing-box-style3 {
            &:hover,
            &.active {
                .btn span {
                    color: $bg_2 !important;
                }
            }
        } 
        .tf-cta .cta-wrapper {
            background-color: transparent;
            background: radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid;
            border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 74.04%),
            linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
        }
        .testimonials-box .info .content .desc,
        .pricing-box-style3 .desc,
        .page-title.style10 .content-box .content .sub-title {
            color: $txt-color;
        }
        p.color1 {
            color: $txt-color !important;
        } 
        .testimonials-box .info .content .name,
        .pricing-box-style3 .btn span {
            color: $white !important;
        }
        .about-list p,
        #footer.style2 .footer-contact p,
        .testimonials-box .sub,
        .pricing-box-style3.active .desc,
        .pricing-box-style3:hover .desc,
        .pricing-box-style3 ul li span,
        .pricing-box-style3 .price,
        .project-wrapper .project-box .content .title,
        .counter_wrapper .box .content .box-couter .number-content,
        .tf-counters .text,
        .page-title.style10 .content-box .content .title,
        h1,h2,h3,h4,h5 {
            color: $white;
        }
        .header #site-header-inner .tf-button::after {
            background: url(./../../assets/images/backgroup/bg_button.png) center right no-repeat;
        }
        #main-nav .menu li.menu-item.current-menu-item > a::before {
            background-color: $white;
        }
        .header-style2 #main-nav .menu li.menu-item-has-children > a::after,
        .header-style2 #main-nav .menu li a {
            color: $white;
        }
        .header #site-header-inner .tf-button {
            color: $white;
        }
    } 
    &.home14 {
        .resume-wrap .box ul li::before {
            background: #0B0C19;
        }
        .testimonials-box,
        .tf-section.tf-project,
        .resume-wrap .box {
            background: #0B0C19;
        }
        .color1 {
            color: $txt-color !important;
        }
        .testimonials-box .info .content .desc,
        p {
            color: $txt-color;
        }
        .flat-tabs .menu-tab li {
            color: $txt-color;
        }
        .sub.color1,
        .name.color2 {
            color: $white !important;
        }
       .testimonials-box .info .content .name,
        .flat-tabs .menu-tab li.active,
        .resume-wrap .box ul li h5,
        .resume-wrap .box ul li .desc,
        .tf-about .info li p,
        .tf-about .info li h5,
        .tf-about .counter_wrapper .box .content .desc,
        .tf-about .counter_wrapper .box .content .box-couter .number-content,
        h1,h2,h3,h4,h5,h6 {
            color: $white;
        }
        .bg_themes {
            background: #1A1B2A;
        }
    }
    .list-service li {
        border-color: rgba(255, 255, 255, 0.2) !important;
        &:hover,
        &.active .heading a {
            color: $color-hover;
            &::before {
                background-color: $color-hover;
            }
        }
    }
    .project-box-style4 .content a svg path {
        fill: $color-hover;
    }
    .experience-content .box {

        &:hover,
        &.active {
            .content {
                &::before {
                    background-color: $white !important;
                }
            }
            .date {
                color: $color-hover !important;
            }
        }
    } 
    .counter_wrapper.style5 .box .content .icon {
        background: rgba(255, 255, 255, 0.12);
    }
    .page-title.style7 .content-box .image-box .box {
        background-color: $color-hover;
        p {
            color: $bg_2 !important;
        }
    }
    &.home10 .counter_wrapper.style5 .box .content .desc {
        color: $white !important;
    }
    .testimonials-box-style4 {
        border-color: $color_1 !important;
    }
    &.home10 {
        #footer {
            background-color: $bg_2;
            textarea,
            input[type=text],
            input[type=password],
            input[type=datetime],
            input[type=datetime-local],
            input[type=date],
            input[type=month],
            input[type=time],
            input[type=week],
            input[type=number],
            input[type=email],
            input[type=url],
            input[type=search],
            input[type=tel],
            input[type=color] {
                border-color: rgba(255, 255, 255, 0.2);
                color: $white;
                &::placeholder {
                    color: $color_1;
                }
                &:focus {
                    border-color: $white;
                }
            }
            .footer-contact a {
                color: $white;
            }
            .footer-content .copyright {
                color: $txt-color !important;
            }
        }
        .testimonials-box-style4 .content .desc,
        .list-service li .desc {
            color: $white !important;
        }
        .flat-tabs-style2 .menu-tab li.active::after {
            background-color: $color-hover;
        }
        .project-box-style4 {
            border-color : rgba(255, 255, 255, 0.1) !important; 
            .image {
                border-color : rgba(255, 255, 255, 0.1) !important; 
            }
        }
        h1,h2,h3,h4,h5,h6 {
            color: $white !important;
        }
        p {
            color: $txt-color !important;
            &.sub {
                color: $white !important;
            }
        }
        
    }
    .button-style.style6 .btn-main {
        svg path {
            fill: $bg_2 !important;
        }
        background-color: $color-hover !important;
        color: $bg_2 !important;
    }
    .page-title.style7 .content-box .content .title {
        span {
            color: $white;
        }
        &.animationtext.clip .cd-words-wrapper::after {
            background-color: $color-hover;
        }
    }
    &.home10 {
        background-color: $bg_2;
    }
    #footer.style2.black .cta {
        background-color: $black;
    }
    .testimonials-box-style3 {
        border-color: $color_1;
        background-color: transparent;
        .content {
            .name a,
            .desc {
                color: $white !important;
            } 
        }
    }
    .flat-tabs-style2 .menu-tab li {
        border-color: $white !important;
        &.active span,
        &:hover span {
            color: $white !important;
        }
    }
    &.home9 {
        p {
            color: $txt-color !important;
        }
        .clients .about ul li span {
            color: $white;
        }
        .clients .information.counter_wrapper .box .content .box-couter .number-content {
            color: $white;
        }
        .service-wrapper .service-box-style5 {
            border-color: $color_1;
            @include transition3;
            &:hover,
            &.active {
                border-color: #3bbc68;
            }
        }
    }
    .page-title.style6 {
        background-color: $bg_2;
    }
    &.home8 {
        .section-about {
            .tf-title {
                p,
                .title {
                    color: $bg_2 !important;
                }
            }
        }
        .flat-accordion {
            border-color: $white;
            background-color: $bg_2;
            .flat-toggle {
                .toggle-title {
                    .title {
                        color: $white;
                    }
                    .icon {
                        svg path {
                            stroke: $white;
                        }
                    }
                }
            }
        }
    }
    .testimonial-content {
        .tf-title-style4 {
            h3.title {
                color: $bg_2 !important;
            } 
        }
        .tf-title {
            h6,
            .sub-title {
                color: $bg_2 !important;
            }
        }
    }  
    .pricing-box-style2 {
        .content {
            background-color: $bg_2;
        }
        .price {
            color: $white !important;
        }
        .btn span {
            @include transition3;
        }
        &.active,
        &:hover .btn {
            span {
                color: $white !important;
            }
        }
    }
    &.home8 .tf-project {
        .image-box.left .box {
            p {
                color: $bg_2;
            } 
        } 
        .list li span  {
            color: $white ;
        }
    }
    .feature-wrapper {
        background-color: rgba(255,255,255,0.1);
        .feature-box {
            background-color: $black;
        }
    }
    .page-title.style5 .content-box .content {
        form {
            border-color: #E6E6E6;
            button {
                color: $white;
            }
        }
        .note {
            color: $white !important;
        }
    }
    .article-dashboard .body-dashboard{
        h1,h2,h3,h4,h5,h6 {
            color: $white !important; 
        } 
        p {
            color: $txt-color !important;
        }
        .section-inner {
            .list_contact li p a {
                color: $white;
            }
            &:last-child {
                border-bottom: none !important;
            }
            &#Contact {
                background-color: $bg_2;
            }
            .flat-tabs .menu-tab li.active {
                border-color: $white;
                span {
                    color: $white;
                }
            }
            .sl-testimonial  {
                .btn-testimonials {
                    border-color: $white !important; 
                    i {
                        color: $white !important;
                    }
                }
            }
            .pricing-box {
                background-color: $bg_2;
                border-color: $white;
                &:hover {
                    background-color: $color-hover;
                    ul li span {
                        color: $color_1 !important;
                    }
                    h5,
                    .time {
                        color: $bg_2 !important;
                    } 
                    .link {
                        background-color: $white;
                        color: $bg_2;
                    }
                }
                &::before {
                    background-color: $white;
                }
                .time {
                    color: $white !important;
                    @include transition3;
                }
                ul li span {
                    @include transition3;
                    color: $txt-color;
                }
                .link {
                    border-color: $white;
                    color: $white;
                }
            }
            .testimonials-box {
                background-color: $bg_2;
                border-color: $white;
                &::before {
                    background-color: $white;
                }

            }
            &#About .flex .counter_wrapper .box .content .box-couter .number-content {
                color: $white;
            }
            &#Service .box {
                background-color: $bg_2;
                border-color: $white ;

                &::before {
                    background-color: $white;
                }
                h5,p {
                    @include transition3;
                }
                &:hover {
                    background-color: $color-hover;
                    h5 {
                        color: $bg_2 !important;
                    }
                    p {
                        color: $color_1 !important;
                    }
                }
            }
            .my_skill .my_skill_box {
                .progress-title-holder {
                    span {
                        color: $white !important;
                    }
                }
                border-color: $white;
                background-color: $bg_2;
                .progress-content {
                    background-color: $txt-color;
                }
                &::before {
                    background-color: $white;
                }
            }
            &#Contact form {
                textarea,
                input[type=text],
                input[type=password],
                input[type=datetime],
                input[type=datetime-local],
                input[type=date],
                input[type=month],
                input[type=time],
                input[type=week],
                input[type=number],
                input[type=email],
                input[type=url],
                input[type=search],
                input[type=tel], 
                input[type=color] {
                    background: rgba(255, 255, 255, 0.1);
                    color: $white;
                    &::placeholder {
                        color: $txt-color;
                    }
                }
            }
            
        }
    }
    .article-dashboard { 
        background-color: $bg_2;
        border-color: $white;
        &::before {
            background-color: $white;
        }
    }
    #side-bar-dashboard {
        .contact-btn a {
            &::before {
                background-color: $white;
            }
            span {
                border-color: $color-hover;
            }
        }
        ul li {
            color: $txt-color;
            span {
                color: $white;
            }
        }
        .info {
            overflow: hidden;
            background-color: $bg_2;
            border-color: $white;
            &::before {
                background-color: $white;
            }
        }
    }
    &.home6 {
        background-color: $black;
    }
    .project-box-style5 {
        border-color: $white;
    }
    .project-box-style5 .content .sub-title,
    .project-box-style5 .content .title a,
    &.home5 .tf-about .info .social li a {
        color: $white;
    }
    &.home5 {
        background: #121223;
    }
    #footer.style2 .footer-contact a {
        color: $white;
    }
    #footer.style2 .cta .footer-form .button.style2 {
        background: transparent;
        color: $white;
        svg {
            path {
                stroke: $white;
            }
        }
    }
    #footer.style2 {
        background-color: $black;
    }
    .testimonials-box-style2,
    .project-box-style2 {
        background-color: $black;
    }
    #footer.style2 .cta,
    .service-box-style4 {
        background-color: $bg_2;
    }
    .about-box {
        background-color: $black;
        .icon {
            svg {
                path {
                    fill: $white;
                }
            }
            background-color: #3C60DC;
        }
    }
    &.home10 {
        .header #main-nav .menu li {
            a {
                color: $white;
            }
            &.menu-item-has-children > a {
                &::after {
                    color: $white;
                }
                &::before {
                    background-color: $white;
                }
            }
        } 
    }
    &.home8,
    &.home4 {
        .number-content {
            color: $white !important;
        }
        p {
            color: $txt-color !important;
        }
        .header #main-nav .menu li {
            a {
                color: $white;
            }
            &.menu-item-has-children > a {
                &::after {
                    color: $white;
                }
                &::before {
                    background-color: $white;
                }
            }
        } 
    }
    .show-light,
    .swiper-light,
    .social-light,
    .logo-light {
        display: none;
    }
    .swiper-dark,
    .social-dark {
        display: flex;
    }
    .show-dark,
    .logo-dark {
        display: block;
    }
    .page-title.style4 .content-box .content .sub-title {
        color: $white !important;
    }
    &.home3 {
        .tf-title p,
        .sub-title {
            color: $txt-color !important;
        }
        .button-style.style3 .btn-main {
            color: $bg_2 !important;
        }
    }
   
    .tf-about .menu-tab li.active::after {
        background-color: $white;
    }
    #footer.themes-bg-style,
    .themes-bg-style {
        background-color: #000;
        background: #000;
        .swiper-pagination.style2 span {
            background-color: $white;
            &::after {
                background-color: transparent;
                border-color: $white;
            }
        }
    }
    .themes-bg {
        .tf-title .sub-title.white,
        .sub-title,h6 {
            color: $white;
        }
        .swiper-pagination span {
            background: transparent;
            border-color: $white;
            &.swiper-pagination-bullet-active {
                background-color: $white;
            }
        }
        .swiper-pagination span::after {
            border-color: $white;
        }
    }
    .themes-bg {
        background-color: $bg_2;
    }
    .themes-color {
        ul li,
        h1,h2,h3,h4,h5.h6 {
            color: $white !important;
        }
        .wrapper-blog .tf-post .content p,
        a,p,span {
            color: $white;
        }
        a {
            &:hover {
                span {
                    color: $color-hover !important;
                }
                color: $color-hover !important;
            }
        }
    }
}