@use '../abstracts/' as *;
 
.counter_wrapper {
    @include flex(flex-start, space-between);
    .box {
        width: calc((100% - 40px) /4);
        text-align: center;
        .content {
            .box-couter {
                .number-content {
                    color: $black;
                    font-size: 64px;
                    line-height: 1.25;
                    font-weight: 700;
                    font-family: $font-main-2;
                }
            }
            .desc {
                color: #171717;
                font-size: 20px;
                line-height: 1.6;
                font-weight: 700;
                font-family: $font-main-2;
                text-transform: capitalize
            }
        }
        
    }
}

.service-box {
    @include flex(center,flex-start);
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #3A3B3E;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }
    .number {
        @include transition3;
        font-size: 44px;
        line-height: 50px;
        color: $txt-color;
        margin-right: 52px;
        font-weight: 700;
    }
    .content {
        padding-right: 60px;
        .title {
            color: $txt-color;
            text-transform: capitalize;
            margin-bottom: 8px;
        } 
    }
    .icon {
        svg {
            path {
                @include transition3;
            }
        }
    }
    &.active,
    &:hover {
        .number {
            color: $color-hover;
        }
        .content {
            .title {
                color: $white;
            }
        }
        .icon {
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }
}

.project-box {
    .image {
        margin-bottom: 35px;
        position: relative;
        .button {
            position: absolute;
            @include transition3;
            opacity: 0;
            transform: translateY(5px);
            visibility: hidden;
            right: 40px;
            bottom: 40px;
        }
    }
    .content {
        .title {
            color: $bg_2;
            margin-bottom: 4px;
        }
        p {
            color: $bg_2;
        }
    }
    &:hover {
        .image {
            .button {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }
        }
    }
}

.tf-post {
    .image {
        margin-bottom: 30px;
    }
    .content {
        .tag {
            padding: 6px 10px;
            background-color: $color-hover;
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            color: $bg_2;
            margin-bottom: 12px;
        }
        .title {
            font-size: 22px;
            line-height: 30px;
            color: $bg_2;
            margin-bottom: 16px;
        }
        .date {
            font-size: 14px;
            line-height: 22px;
            color: $bg_2;
            span {
                position: relative;
                padding-left: 30px;
                &::before {
                    position: absolute;
                    top: 50%;
                    width: 20px;
                    height: 1px;
                    background-color: $bg_2;
                    left: 3px;
                    content: "";
                    @include transition3;
                }
            }
            &:hover {
                color: $color-hover;
                span { 
                    &::before {
                        background-color: $color-hover;
                    }
                }
            }
        }
    }
}