@use '../abstracts/' as *;
 
.counter_wrapper {
    @include flex(flex-start, space-between);
    .box {
        width: calc((100% - 40px) /4);
        text-align: center;
        &:nth-child(1) {
            padding-left:60px;
        }
        &:nth-child(2) {
            padding-left:20px;
        }
        &:nth-child(3) {
            padding-right:24px;
        }
        &:nth-child(4) {
            padding-right:60px;
        }
        .content {
            .box-couter {
                .number-content {
                    margin-bottom: 7px;
                    color: $black;
                    font-size: 64px;
                    line-height: 1.25;
                    font-weight: 700;
                    font-family: $font-main-2;
                }
            }
            .desc {
                color: #171717;
                font-size: 20px;
                line-height: 1.6;
                font-weight: 700;
                font-family: $font-main-2;
                text-transform: capitalize
            }
        }
        
    }
    &.style2 {
        margin-right: -7px;
        position: relative;
        flex-wrap: wrap;
        padding: 92px 65px 52px 45px;
        max-width: 580px;
        margin-left: auto;
        .overlay {
            background: url('./../../assets/images/backgroup/bg_about.png') center center no-repeat;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .box {
            padding: 0;
            width: calc((100% - 18px) /2) ;
            margin-bottom: 40px;
            .content {
                .box-couter .number-content {
                    font-weight: 500;
                    font-family: $font-main-1;
                    span {
                        color: $bg_2 !important;
                    }
                }
                .desc {
                    font-size: 18px;
                    line-height: 24px;
                    font-family: $font-main-1;
                }
            }
        }
    }
    &.style3 {
        width: 100%;
        max-width: 350px;
        .box {
            width: calc((100% - 30px) /2) ;
            padding: 0;
            text-align: left;
            display: block;
            .content {
                .box-couter .number-content {
                    color: $white;
                    font-size: 44px;
                    line-height: 50px;
                }
                .desc {
                    color: $white;
                    font-size: 16px;
                    line-height: 26px
                }
            }
        }
    }
    &.style4 {
        .box {
            width: calc((100% - 0px) /4);
            .content .box-couter {
                .number-content {
                    font-family: $font-main-3;
                    font-weight: 600;
                }
            }
            .content .desc {
                font-weight: 500;
                font-family: $font-main-1;
            }
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                padding-left: 0;
                padding-right: 0
            }
        }
    }
}

.service-box {
    @include flex(center,flex-start);
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid #3A3B3E;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }
    .number {
        font-family: $font-main-2;
        @include transition3;
        font-size: 44px;
        line-height: 50px;
        color: $txt-color;
        margin-right: 52px;
        font-weight: 700;
    }
    .content {
        padding-right: 14%;
        .title {
            color: $txt-color;
            text-transform: capitalize;
            margin-bottom: 8px;
        } 
    }
    .icon {
        svg {
            path {
                @include transition3;
            }
        }
    }
    &.active,
    &:hover {
        .number {
            color: $color-hover;
        }
        .content {
            .title {
                color: $white;
            }
        }
        .icon {
            svg {
                path {
                    fill: $white;
                }
            }
        }
        .effect-arow  {
            .effect {
                left: 200%;
                opacity: 0;
                visibility: hidden;
            }
            .effect-absolute {
                left: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.service-box-style2 {
    padding: 52px 65px 62px 30px;
    position: relative;
    border-top: 8px solid transparent;
    border-right: 1px solid rgba(255,255,255,0.1);
    @include transition3;
    &.boder-r-none {
        border-right: 0;
    }
    &.active,
    &:hover {
        border-top: 8px solid $bg_3;
        p {
            color: $white;
        }
    }
    .title {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 8px;
        line-height: 40px;
        font-family: $font-main-1;
    }
    p {
        @include transition3;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 40px;
    }
}

.service-box-style3 {
    background: #181818;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 24px 32px;
    position: relative;
    z-index: 1;
    display: block;
    &::after {
        position: absolute;
        content: "";
        background-color: $color-hover;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        border-radius: 12px;
        z-index: -2;
        opacity: 0;
        @include transition3;
    }
    &::before {
        position: absolute;
        content: "";
        background: #181818;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 12px;
        z-index: -1;
    }
    &.active,
    &:hover {
        &::after {
            top: 4px;
            left: 4px;
            opacity: 1;
        }
    }
    .icon {
        margin-bottom: 24px; 
        @include flex(flex-start,space-between);
    }
    .content {
        .title {
            color: $white;
        }
    }
    &:hover {
        .icon {
            a {
                transform: translate3d(10px,-10px,-10px);
            }
        }
    }
}

.service-box-style4 {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(39, 63, 68, 0.1);
    border-radius: 12px;
    border-left: 4px solid transparent;
    position: relative;
    @include transition3;
    padding: 24px 32px 24px 28px;
    @include flex(center,space-between);
    margin-bottom: 28px;
    &:last-child {
        margin-bottom: 0;
    }
    .content {
        padding-right: 25px;
        h5 {
            color: $bg_2;
            font-family: $font-main-3;
            margin-bottom: 8px;
            font-weight: 600;
        }
        p {
            font-family: $font-main-1;
            color: $color_1;
        }
    }
    
    .icon {
        @include transition3;
        transform: translate3d(0,0,0);
        a {
            svg {
                path {
                    @include transition3;
                }
            }
            &:hover {
                svg {
                    path {
                        stroke: $bg_6;
                    }
                }
            }
        }
    }

    &.active,
    &:hover {
        border-color: $bg_6;
    } 
    &:hover {
        transform: translateY(-10px);
        .icon {
            transform: translate3d(10px,-10px,-10px);
        }
    }
}

.project-box {
    .image {
        margin-bottom: 40px;
        position: relative;
        .position-button {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            right: 40px;
            bottom: 40px;
            @include transition3;

        } 
    }
    .content {
        .title {
            color: $bg_2;
            margin-bottom: 8px;
        }
        p {
            color: $bg_2;
        }
    }
    &:hover {
        .image {
            .position-button {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }
        }
    }
}

.project-wrapper {
    @include flex(flex-start,space-between);
    flex-wrap: wrap;
    .project-box-style2 {
        width: calc((100% - 40px) / 2);
    }
}

.project-box-style2 {
    @include transition3;
    box-shadow: 0px 5px 5px rgba(39, 63, 68, 0.1);
    border-radius: 20px;
    background-color: $white;
    border-bottom: 4px solid transparent;
    padding: 40px 40px 34px;
    margin-bottom: 40px;
    .image {
        position: relative;
        display: block;
        img {
            border-radius: 12px;
        }
        .button {
            max-width: 100px;
            text-align: center;
            color: $white;
            position: absolute;
            @include transition3;
            opacity: 0;
            transform: translateY(0);
            visibility: hidden;
            right: 38px;
            bottom: 35px;
            @include flex(center,center);
            background-color: $bg_6;
            &:hover {
                bottom: 40px;
            }
        }
    }
    .title {
        padding-right: 50px;
        color: $bg_2;
        margin-bottom: 20px;
        font-family: $font-main-3;
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
    }  
    &.active,
    &:hover {
        border-color: $bg_6;
        .image {  
            .button {
                opacity: 1;
                visibility: visible;
            }
        }
    }

}

.wrapper-blog {
    @include flex(flex-start, space-between);
    .tf-post { 
        width: calc((100% - 96px) / 3);
        position: relative;
        .image {
            margin-bottom: 26px;
        }
        .content {
            .tag {
                margin-bottom: 11px;
            }
            p {
                color: #3A3B3E;
            }
        }
        &::after {
            position: absolute;
            right: -24px;
            height: 100%;
            width: 1px;
            content: "";
            top: 0;
            background-color: $bg_2;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

.tf-post {
    &:hover {
        .image {
            &::before {
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }
        }
    }
    .image {
        display: block;
        overflow: hidden;
        position: relative;
        &::before {
            z-index: 1;
            position: absolute;
            background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    .content {
        .tag {
            padding: 6px 10px;
            background-color: $color-hover;
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            color: $bg_2;
            margin-bottom: 10px;
        }
        .title {
            font-size: 22px;
            line-height: 30px;
            color: $bg_2;
            margin-bottom: 18px;
            text-transform: capitalize;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            color: $txt-color;
            a {
                color: $bg_2;
                &:hover {
                    color: $color-hover;
                }
            }
        }
        .date {
            font-size: 14px;
            line-height: 22px;
                .date {
                    position: relative;
                    padding-left: 34px;
                    &::before {
                        position: absolute;
                        top: 50%;
                        width: 20px;
                        height: 1px;
                        background-color: $bg_2;
                        left: 3px;
                        content: "";
                        @include transition3;
                    }
                }
            &:hover {
                span { 
                    &::before {
                        background-color: $color-hover;
                    }
                }
            }
        }
    }
}

.portfolio-box {
    border: 2px solid $bg_2;
    box-shadow: 8px 20px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 14px 21px;
    background-color: $white;
    &.style1 {
        position: absolute;
        right: 42px;
        bottom: 40px;
        max-width: 135px;
    }
    &.style2 {
        position: absolute;
        left: 25px;
        bottom: 45px;
        max-width: 333px;
        width: 100%;
        padding: 14px 18px 14px 20px;
        &.style3 {
            .pricing {
                margin-top: 10px;
                .inner {
                    h6 {
                        margin-bottom: 5px;
                    }
                }
            }
            right: -46px;
            left: auto;
            max-width: 278px;
            bottom: 50px;
            padding: 19px 22px 17px 22px;
        }
        p {
            font-family: $font-main-1; 
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: $bg_2;
        }
        .content {
            @include flex(center,space-between);
            border-bottom: 1px solid #E6E6E6;
            padding-bottom: 4px;
            margin-bottom: 4px;
        } 
        .image {
            text-align: left;
            margin-top: 4px;
            max-width: 230px;
        }
        .pricing {
            @include flex(flex-start,space-between);
            .inner {
                text-align: left;
            }
        }
    }
    h6 { 
        text-transform: capitalize;
        color: $bg_2;
        @include flex(center,flex-start);
        margin-bottom: 0;
        img {
            margin-right: 8px;
        }
    }
}

.progress-couter {
    position: relative;
    margin-right: 60px;
    z-index: 99;
    .couter {
        position: relative;
        .chart {
            height: 84px;
            width: 84px;
            @include flex(center,flex-start);
            position: relative;
            text-align: center;
            .sub-title {
                padding-top: 8px;
                font-size: 12px;
                color: $color_1;
                font-weight: 500;
                font-family: 'Plus Jakarta Sans', sans-serif;
            }
            canvas {
                position: absolute;
            }
            span {
                &.percent {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: inline-block;
                    font-size: 16px;
                    color: $bg_2;
                    font-weight: 700;
                    font-family: 'Plus Jakarta Sans', sans-serif;
                    padding-bottom: 95px;
                    &::after {
                        position: relative;
                        content: '%';
                        color: $bg_2;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.testimonials-box {
    position: relative;
    border: 2px solid $bg_2;
    box-shadow: 8px 20px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 38px;
    background-color: $white;
    .sub-title {
        margin-bottom: 20px;
    }
    .info {
        @include flex(center,flex-start);
        .image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        .content {
            padding-left: 16px;
            .name {
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 0;
                color: $bg_2;
            }
            .desc {
                font-family: $font-main-1;
                font-size: 14px;
                line-height: 22px;
                color: $bg_2;
            }
        }
    }
}

.testimonials-box-style2 {
    position: relative;
    box-shadow: 0px 5px 5px rgba(39, 63, 68, 0.1);
    border-radius: 20px;
    background: $white;
    padding: 40px 40px 35px ;
    border-bottom: 4px solid transparent;
    @include transition3;
    text-align: center;
    .desc {
        font-size: 20px;
        line-height: 32px;
        color: $bg_2;
        font-weight: 400;
        font-family: $font-main-1;
        margin-bottom: 12px;
    }
    .title {
        font-size: 20px;
        line-height: 32px;
        color: $bg_2;
        font-weight: 700;
        font-family: $font-main-1;
        margin-bottom: 0;
    }
    .name {
        font-size: 12px;
        line-height: 20px;
        color: $txt-color;
        font-weight: 700;
        font-family: $font-main-1; 
        text-transform: uppercase;
        letter-spacing: 1px;
    } 
}

.about-box {
    background: #FFFFFF; 
    box-shadow: 0px 5px 5px rgba(39, 63, 68, 0.1);
    border-radius: 20px;
    padding: 36px 36px 31px;
    position: relative;
    border-bottom: 4px solid transparent; 
    @include transition3;
    &.active,
    &:hover {
        border-color: #3C60DC; 
    }
    &:hover {
        transform: translateY(-10px);
    }
    .icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        @include flex(center,center);
        margin-bottom: 16px;
        &::before {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            background-color: $bg_6;
            opacity: 0.1;
        }
    }
    .content {
        h5 {
            color: $bg_2;
            margin-bottom: 12px;
            font-family: $font-main-3;
        }
        p {
            color: $color_1;
        }
    }
}