@use '../abstracts/' as *;

 
.button {
    width: 100px;
    height: 100px;
    background-color: $color-hover;
    color: $bg_2;
    font-size: 18px;
    line-height: 24px;
    border-radius: 50%;
    font-weight: 700;
    @include flex(center,center);
    &:hover {
        background-color: $white;
        color: $bg_2;
    }
}
 
.button-style {
    @include transition3;
    padding: 13px 28px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    font-family: $font-main-1;
    color: $bg_2;
    background-color: $color-hover;
    position: relative;
    text-transform: capitalize;
    &.style2 {
        background-color: $bg_3;
        &:hover {
            background-color: $white;
            color: $bg_2;
        }
    }
    &:hover {
        background-color: $white;
    }
    &::after {
        width: 3px;
        height: calc(100% + 6px);
        right: -6px;
        bottom: -6px;
        background-color: $white;
        position: absolute;
        content: "";
    }
    &::before {
        width: calc(100% + 6px);
        height: 3px;
        right: -6px;
        bottom: -6px;
        background-color: $white;
        position: absolute;
        content: "";
    }
}
 