@use '../abstracts/' as *;

 
.button {
    width: 100px;
    height: 100px;
    background-color: $color-hover;
    color: $bg_2;
    font-size: 18px;
    line-height: 24px;
    border-radius: 50%;
    font-weight: 700;
    @include flex(center,center);
    &:hover {
        background-color: $white;
        color: $bg_2;
    }
}
 
 