@use '../abstracts/' as *;

.flat-accordion {
    &.max-width-930 {
        max-width: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    border: 3px solid #3A3B3E;
    border-radius: 20px;
    background: $white;
    .flat-toggle {
        padding: 16px 30px 18px;
        margin-bottom: 21px;
        border-bottom: 1px solid #E6E6E6;
        &:last-child {
            margin-bottom: 0;
            border: none;
        }
        .toggle-title {
            padding-right: 40px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            &.active {
                .icon { 
                    transform: rotate(0);
                }
            }
            .icon {
                position: absolute;
                right: 0;
                top: 6px;
                @include transition3;
                transform: rotate(180deg);
            }
            .title {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
                font-family: $font-main-4;
                color: $bg_2;
                margin-bottom: 0;
            } 
        }
        .toggle-content {
            display: none;
            margin-top: 8px;
            p {
                color: $color_1;
            }
        }
    } 
}