@use '../abstracts/' as *;

.flat-accordion {
    &.max-width-930 {
        max-width: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    border: 3px solid #3A3B3E;
    border-radius: 20px;
    background: $white;
    .flat-toggle {
        padding: 16px 30px 18px;
        margin-bottom: 21px;
        border-bottom: 1px solid #E6E6E6;
        &:last-child {
            margin-bottom: 0;
            border: none;
        }
        .toggle-title {
            padding-right: 40px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            &.active {
                .icon { 
                    transform: rotate(0);
                }
            }
            .icon {
                position: absolute;
                right: 0;
                top: 6px;
                @include transition3;
                transform: rotate(180deg);
            }
            .title {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 20px;
                line-height: 32px;
                color: $bg_2;
                margin-bottom: 0;
            } 
        }
        .toggle-content {
            display: none;
            margin-top: 8px;
            p {
                color: $color_1;
            }
        }
    } 
    &.font4 {
        .flat-toggle {
            .toggle-title {
                z-index: 2;
                .title {
                    font-family: $font-main-4;
                }
            }
        }
    }
    &.style2 {
        background-color: transparent;
        border: none;
        max-width: 795px;
        margin: 0 auto;
        .flat-toggle {
            padding: 20px 32px 14px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 61.65%);
            backdrop-filter: blur(6px);
            border-radius: 12px;
            border: 1px solid rgba(255, 255, 255, 0.08);
            margin-bottom: 28px;
            &.active {
                padding-top: 28px;
            }
            .toggle-title {
                z-index: 2;
                .title {
                    font-size: $font-main-2;
                    color: $white;
                    padding-bottom: 7px;
                }
            }
            .toggle-content {
                z-index: 2;
                padding-bottom: 12px;
                p {
                    padding-top: 16px;
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    color: $txt-color;
                }
            }
            &::before {
                @include transition3;
                border-radius: 12px;
                content: "";
                position: absolute;
                border: 2px solid $color-hover;
                z-index: 1;
                opacity: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
            &.active,
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}