@use '../abstracts/' as *;

.header.main {
    background: transparent;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1000;
    height: 80px;
    background-color: transparent;
    @include flex(center,space-between);
    .show-header-fixed {
        display: none;
    }
    #site-header-inner {
        @include flex(center,flex-start);
        position: relative;
        width: $w100;
        .tf-button {
            margin-left: auto;
            padding: 8px 16px;
            color: $bg_2;
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            &:hover {
                background-color: $white;
            }
        }
    }
    .main-nav {
        position: absolute;
        left: 29.7%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-left: 4px;
        letter-spacing: 0.6px
    }

    .social {
        li {
            margin-left: 16px;
            img {
                @include transition3;
                transform: scale(1);
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        
    }
} 
.header-style2 {
    #main-nav .menu { 
        li {
            &.menu-item-has-children > a::after {
                color: $bg_2;
            }
            a {
                color: $bg_2;
                &::before {
                    background-color: $bg_2;
                } 
            }
        }
    }
}
.curved-text{
    position:relative;
    display:inline-block;
    margin:0 auto;
    font-size:32px;
  }
   
  .curved-text span{
    min-width:0.5em;
    text-align:center;
    padding:30px;
    margin:0px;
    color: #000;
  }
#main-nav .menu {
    @include flex(center, flex-start);
    li {
        position: relative;
        margin-right: 28px;
        a {
            font-family: $font-main-1; 
            position: relative;
            display: block;
            color: $white;  
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;  
            letter-spacing: 0;
            &::before {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $color-hover;
                content: "";
                left: 0;
                bottom: 0;
                opacity: 0;
                @include transition3;
            }
            &:hover {
                color: $color-hover;
            }           
        }
        &:hover .sub-menu{
            opacity: 1;
            visibility: visible;
            transform: translateY(5px);
        }
    }
    li.menu-item-has-children>a {
        &::after {
            @include transition3;
            position: absolute;
            font-family: "Font Awesome 5 Pro";
            content: '\f078';
            right: -18px;
            top: 50%;
            font-weight: 400;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 12px;
            color: $white;
        }   
            
        &:hover::after,
        &:hover {
            color: $color-hover;
        }
    }

    li.menu-item.current-menu-item > a {
        &::before {
            opacity: 1;
        }
    }
} 


/* Header Fixed
-------------------------------------------------------------- */
.home10 {
    #header_main.is-fixed.is-fixed.is-small {
        .logo-dark {
            display: block !important;
        }
        .logo-light {
            display: none !important;
        }
    }
}
#header_main.is-fixed {
    @include transition5;
    z-index: 9999;
    opacity: 0;
    position  : fixed;
    top       : -100px;
    left      : 0;
    width     : 100%; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #ECECEC;
    &.is-fixed.is-small {
        top: -1px;
        opacity: 1;
        visibility: visible;
        height: 80px;
        background-color: $bg_2;
        .show-light {
            display: none !important;
        }
        .show-dark {
            display: block !important;
        }
        .social {
            display: none;
            &.social-dark {
                display: flex !important;
            }
        }
        .show-header-fixed {
            display: flex;
        }
        #main-nav .menu li.menu-item-has-children > a::after,
        #main-nav .menu li > a {
            color: $white;
        }
        #main-nav .sub-menu li a {
            color: $bg_2;
            &:hover {
                color: $color-hover;
            }
        }
    }
}

#header_main.main.is-fixed {
    background-color: #190d3e;
}

.header.main.is-fixed .tf-button span.tl::before, 
.header.main.is-fixed .tf-button span.tl::after {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #190d40 !important;
}

.home2 {
    #main-nav .menu li a::before {
        background-color: #BBADFF;
    }
}