@use '../abstracts/' as *;
.show-destop {
    display: block;
}
@include res1760 {  
}
@include res1600 {  
}
@include res1440 { 
    
}

@include res1200 {
    #footer.style2 .footer-contact {
        padding-left: 0 !important; 
    }
    .header .main-nav {
        left: 20%;
    }
    .animationtext {
        max-height: none;
    }
    
}

@include res991 {
    #side-bar-dashboard {
        margin-bottom: 40px !important;
    }
    .page-title.style4 .content-box {
        display: block;
        padding: 0;
        .image-box,
        .content {
            width: 100%;
            padding: 0;
        }
        .image-box {
            padding-left: 0;
            margin-top: 30px;
            img {
                width: 100%;
            }
        }
    }
    .header #site-header-inner .tf-button {
        display: none;
    }
    .page-title.style3 .content-box .image-box {
        margin-left: 130px;
        margin-top: 40px;
    }
    .mr-25,
    .mr-35 {
        margin-right: 0;
    }
    .ml-35 {
        margin-left: 0;
    }
    .page-title.style4 .content-box .content,
    .pr-35 {
        padding-right: 0;
    }
    .service-box-style2 {
        padding: 60px 0 60px 0;
    }

    .pl-88,
    .tf-statistics .tf-title,
    .pl-65 {
        padding-left: 0;
    }
    .project-content {
        padding: 0 15px;
    }
    .show-destop {
        display: none;
    }
    .counter_wrapper .box {
        padding: 0 15px !important;
    }
    .project-banner {
        padding-bottom: 180px;
    }
    .mobile-button {
        display: block;
    }
    .header .social {
        display: none;
    }
    .max-width-690 {
        max-width: 100%;
    }
    .counter_wrapper.style2 {
        max-width: 100%;
        margin-right: 0;
        padding: 0px 15px 0px 15px;
    }
    .pt-98 {
        padding-top: 30px;
    }
    .tf-spacing {
        height: 50px !important; 
    }
    .portfolio-box.style2.style3 {
        right: 0;
    }
    .mt-35 {
        margin-top: 0 !important;
    }

    .content-about.col2 {
        display: block;
        .desc, 
        > div {
            width: 100%;
        }
    }
    .about-box {
        padding: 20px;
    }

}

@include res767 {
    #footer.style2 .footer-contact {
        padding-top: 30px;
    }
    .counter_wrapper.style4 .box {
        width: calc((100% - 0px) / 2);
        margin-bottom: 20px;
    }
    .project-wrapper .project-box-style2 {
        width: 100%;
        margin-bottom: 30px;
    }
    #footer.style2 .cta .content {
        padding-right: 0;
    }
    .home4 .tf-section.tf-testimonial {
        padding-top: 0 !important;
    }
    #footer.style2 .cta {
        display: block;
        .content,
        .footer-form {
            width: 100%;
        }
    }
    .pl-90 {
        padding-left: 0;
    }
    .home3 #footer {
        margin-top: -50px;
    }
    .section-about {
        .tf-title {
            display: block !important;
            .title {
                margin-bottom: 30px;
            }
        }
    }
    .section-about.tf-section {
        padding: 30px !important;
    }
    .home3 .tf-section.tf-blog {
        padding-bottom: 200px !important;
    }
    .wrapper-blog {
        display: block;
        .tf-post {
            width: 100%;
        }
    }
    .max-width-650 {
        max-width: 100%;
    }
    .image {
        img {
            width: 100%;
        }
    }
    .content-skill {
        margin-right: 0;
    }
    .tf-statistics {
        .image {
            padding: 0 15px;
            position: relative;
            margin-bottom: 30px;
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .counter_wrapper.style3 {
            padding-left: 0;
            width: 100%;
        }
    }
    .page-title.style3 .content-box .content,
    .page-title.style3 .content-box .image-box {
        width: 100%;
    }
    .page-title.style3 .content-box {
        display: block;
    }
    .page-title.style3 .content-box .image-box {
        margin-left: auto;
        .like,
        .graphic {
            left: 0;
        }
    }
    #footer .footer-form form {
        max-width: 100%;
        margin-top: 30px;
    }
    #footer .footer-content {
        padding-right: 0;
    }
    .mobile-mb0 {
        margin-bottom: 0 !important; 
    }
    .tf-post {
        margin-bottom: 30px;
    }
    .sl-brand  {
        .swiper-slide a {
            width: 100%;
            text-align: center;
        }
    }
    .pd-16 {
        padding: 0;
    }
    .pt-96 {
        padding-top: 40px;
    }
    .project-banner {
        padding:70px 15px 150px;
    }
    .page-title .content-box {
        .content { 
            .title {
                font-size: 50px !important;
            }
        }
    }
    .page-title.style1 .content-box {
        padding-right: 0;
        padding-bottom: 150px;
        .content {
            width: 100%;
            max-width: 100%; 
        }
        .button {
            width: 120px;
            height: 120px;
        }
    }
    .tf-section {
        padding: 70px 0 !important;
    }
    .home2 .tf-section.tf-service {
        padding: 0 !important;
    }
    .counter_wrapper {
        flex-wrap: wrap;
        .box {
            padding: 15px 15px 0 !important;
            width: calc((100% - 40px) / 2);
        }
    }
    .max-width-460 {
        max-width: 100%;
    }
    .mobile-mb30 {
        margin-bottom: 30px;
    }
    .service-box .content {
        padding-right: 30px;
    }
    .service-box .number {
        margin-right: 30px;
    }
    .service-box-style4 {
        padding: 20px 0px 20px 20px;
        .content {
            padding-right: 10px;
        }
    }
    .project-wrapper .project-box-style2 {
        padding: 20px;
    }
    .page-title.style4 .content-box .image-box {
        svg {
            max-width: 60vmin;
        }
        .box {
            width: 220px;
            height: 220px;
        }
        .content {
            max-width: 220px;
        }
    }
}


@include res600 {
    .project-banner {
        .tf-title {
            display: block;
            .title {
                margin-bottom: 30px;
            }
            .title, 
            p {
                width: 100%;
                padding: 0;
            }
        }
       
    }
    .project-content {
        flex-wrap: wrap;
        .col-50 {
            width: 100%;
        }
    }
    .pt-96 {
        padding-top: 0;
    }
}

@include res500 {
    .counter_wrapper.style4 .box {
        width: 100%;
    }
    .counter_wrapper {
        flex-wrap: wrap;
        .box {
            padding: 15px 15px 0 !important;
            width: 100%;
        }
    }
}
