@use '../abstracts/' as *;
.cursor1 {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid $color-hover;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.15s;
    transition: 0.15s;
    z-index: 999;
    mix-blend-mode: difference;
}
.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: $color-hover;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 999;
    mix-blend-mode: difference;
}
.page-title {
    position: relative;
    background-color: $bg_1; 
    padding: 300px 0 122px;
    padding: 26% 0 6.5%;
    &.style1 {
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('./../../assets/images/backgroup/bg_page_title_1.png') center center no-repeat;
            background-size: cover;
            opacity: 0.2;
            background-attachment: fixed;
        }
        .content-box {
            position: relative;
            padding-right: 200px;
            .content {
                max-width: 75%;
                .title {
                    margin-bottom: 20px;
                }
            }
            .button {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: $color-hover;
                @include flex(center,center);
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: #171717;
                flex-direction: column;
                &:hover {
                    background-color: $white;
                }
            }
        }
    }
}

.tf-title {
    .sub-title {
        font-size: 36px;
        line-height: 44px;
        color: #171717;
        font-weight: 500;
        font-family: $font-main-2;
        &.white {
            color: $white;
        }
    }
}

.project-banner {
    background: url('./../../assets/images/backgroup/bg_featured.png') center center no-repeat;
    background-size: cover;
    padding: 100px 120px 290px;
    .tf-title {
        .title,
        p {
            width: 50%;
            color: $white;
        }
    }
}

.project-content { margin-top: -18.5%;
    padding: 0 120px;
    @include flex(flex-start,space-between);
    .col-50 {
        width: calc((100% - 74px) /2);
    }
}

.image-service {
    .image {
        position: relative;
    }
    .icon {
        z-index: 2;
        position: absolute;
        width: 40px;
        height: 100px;
        background-color: $color-hover;
        transform: rotate(15deg);
        top: 0;
        right: 30px;
        &.style2 {
            right: 100px;
        }
    }
}

.tf-testimonial {
    .overlay {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('./../../assets/images/backgroup/bg_testimonials.jpg') center center no-repeat;
        background-size: cover;
    }

}

.home1 {
    .tf-section {
        &.tf-project {
            padding-bottom: 88px;
        }
        &.tf-testimonial {
            padding-bottom: 60px;
        }
    }
}