@use '../abstracts/' as *;
.cursor1 {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid $color-hover;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.15s;
    transition: 0.15s;
    z-index: 999;
    mix-blend-mode: difference;
}
.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: $color-hover;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 999;
    mix-blend-mode: difference;
}
.page-title-wrapper {
    background-color: #0E0E0E;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url('./../../assets/images/backgroup/bg_page_title_2.png') center center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        opacity: 0.7;
    }
    .brand {
        text-align: center;
        position: relative;
        z-index: 99;
        padding: 40px 0 26px;
        background-color: rgba(255,255,255,0.05);
        p {
            letter-spacing: 0.3px;
            color: $white;
            font-size: 22px;
            line-height: 40px;
            text-transform: capitalize;
        }
    }
}
.page-title {
    position: relative;
    background-color: $bg_1; 
    padding: 26% 0 6.5%;
    &.style1 {
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url('./../../assets/images/backgroup/bg_page_title_1.png') center center no-repeat;
            background-size: cover;
            opacity: 0.2;
            background-attachment: fixed;
        }
        .content-box {
            position: relative;
            padding-right: 200px;
            .content {
                max-width: 75%;
                .title {
                    margin-bottom: 20px;
                }
            }
            .button {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                background-color: $color-hover;
                @include flex(center,center);
                font-size: 16px;
                line-height: 26px;
                font-weight: 700;
                color: #171717;
                flex-direction: column;
                &:hover {
                    background-color: $white;
                }
            }
        }
    }
    &.style2 {
        background-color: transparent;
        padding: 13.9% 0 7.8%;
        .content-box {
            position: relative;
            .content {
                text-align: center;
                .title {
                    margin-bottom: 40px;
                    font-family: $font-main-1;
                    letter-spacing: -1px;
                }
                .sub-title {
                    font-family: $font-main-1;
                    font-size: 12px;
                    line-height: 20px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    color: $white;
                }
            } 
        }
    }
    &.style3 {
        background-color: transparent;
        padding: 10.4% 0 6.5%;
        .content-box {
            @include flex(flex-start,flex-start);
            position: relative;
            .content {
                padding-top: 80px;
                width: 50%;
                .title {
                    margin-bottom: 32px;
                    font-family: $font-main-2;
                    letter-spacing: -1px;
                    position: relative;
                    color: $bg_2;
                    text-transform: capitalize;
                    letter-spacing: 0;
                    span {
                        letter-spacing: 0;
                        text-transform: capitalize;
                        font-family: $font-main-2;
                        font-size: 56px;
                        line-height: 68px;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: -28px;
                    }
                }
                .sub-title {
                    font-family: $font-main-1;
                    font-size: 22px;
                    line-height: 36px; 
                    margin-bottom: 32px;
                    color: #3A3B3E;
                }
            } 
            .image-box {
                width: 50%;
                position: relative;
                @include flex(center,center);
                margin-left: 265px;
                .bg-overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    @include flex(center,center);
                    img {
                        border-radius: 0;
                    }
                }
                img {
                    border-radius: 40px;
                }
                .like {
                    position: absolute;
                    left: -46px;
                    top: 17%;
                    &img {
                        border-radius: 0;
                     
                    }
                }
                .heart {
                    position: absolute;
                    right: -10px;
                    bottom: 6%;
                    &img {
                        border-radius: 0;
                     
                    }
                }
                .graphic {
                    position: absolute;
                    z-index: 3;
                    left: -74px;
                    bottom: 14%;
                    background: #FFFFFF;
                    border: 2px solid #171717;
                    box-shadow: 0px 4px 44px rgba(11, 60, 30, 0.1);
                    border-radius: 12px;
                    width: 100%;
                    max-width: 214px;
                    @include flex(center,space-between);
                    padding: 14px 18px;
                    .text {
                        padding-right: 15px;
                        h6 {
                            font-family: $font-main-2; 
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 32px;
                            color: $bg_2;
                            margin-bottom: 4px;
                        }
                        p {
                            @include flex(center,flex-start);
                            font-size: 14px;
                            line-height: 22px;
                            color: $bg_2;
                            img {
                                margin-right: 8px;
                            }
                        }
                    }
                    .image {
                        position: relative;
                        @include flex(center,center);
                        p {
                            position: absolute;
                            font-size: 12px;
                            color: $bg_2;
                        }
                    }
                }
            }
        }
    }
    &.style4 {
        background: linear-gradient(76.63deg, #EBEFFC 0%, #FEFBED 99.84%);
        padding: 120px 0;
        .content-box {
            padding-right: 15px;
            position: relative;
            @include flex(center,flex-start);
            .content {
                width: 50%;
                text-align: center;
                .title {
                    font-family: $font-main-3;
                    letter-spacing: -1px;
                    font-size: 56px;
                    line-height: 1.214;
                    color: $bg_2;
                    margin-bottom: 20px;
                    text-align: left;
                }
                .sub-title {
                    font-family: $font-main-1;
                    font-size: 22px;
                    line-height: 1.636; 
                    margin-bottom: 40px;
                    color: $bg_2;
                    text-align: left;
                } 
            } 
            .image-box {
                position: relative;
                .content {
                    max-width: 235px;
                    position: absolute;
                    right: 0;
                    bottom: 54px;
                }
                width: 50%;
                text-align: left;
                img {
                    border-radius: 28px;
                }
                .box {
                    a {
                        position: absolute;
                        color: $bg_6;
                        font-family: $font-main-4;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 32px;
                    }
                    position: relative;
                    @include flex(center,center);
                    width: 235px;
                    height: 235px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    filter: drop-shadow(0px 10px 25px rgba(39, 63, 68, 0.1));
                }
                svg {
                    fill: $bg_2;
                    height: auto;
                    max-width: 65vmin;
                    transform-origin: center;
                    width: 100%;
                    text-transform: uppercase;
                    transform: rotate(-10deg);
                    font-weight: 700;
                    letter-spacing: 1.5px;
                    -webkit-animation: rotating 20s infinite linear;
                    animation: rotating 20s infinite linear;
                }
            }
        }
    }
}

.tf-title {
    .sub-title {
        font-size: 36px;
        line-height: 44px;
        color: #171717;
        font-weight: 500;
        font-family: $font-main-2;
        &.white {
            color: $white;
        }
    }
}

.tf-title-style2 {
    .sub-title {
        color: $txt-color !important;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1.2px;
        font-weight: 700;
        font-family: $font-main-1;
        margin-bottom: 24px;
        text-transform: uppercase;
        &.color-style {
            color: #3A3B3E !important;
        }
    }
    h4.title {
        font-family: $font-main-1;
        font-weight: 500;
        color: $bg_2;
        margin-bottom: 20px;
        &.white {
            color: $white;
        }
    }
    a {
        font-size: 16px ;
        line-height: 26px;
        color: $bg_2;
        font-family: $font-main-1;
        font-weight: 700;
        text-transform: capitalize;
        &.white {
            color: $white;
            &:hover {
                color: $white;
            }
        }
        &:hover {
            border-bottom: 1px solid #BBADFF;
            color: $bg_2;
        }
    }
}

.tf-title-style3 {
    .sub-title {
        color: $color_1;
        margin-bottom: 20px;
    }
    h4.title {
        text-transform: capitalize;
        color: $bg_2;
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 40px;
        &.white {
            color: $white;
        } 
    }
    .button-style {
        text-transform: capitalize;
        font-size: 16px ;
        line-height: 26px;
        color: $bg_2;
        font-family: $font-main-1;
        font-weight: 700;
        text-transform: capitalize;
        &.white {
            color: $white;
            &:hover {
                color: $white;
            }
        } 
    }
}

.tf-title-style4 {
    .sub-title {
        color: $bg_6;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;
        font-family: $font-main-1;
        font-weight: 700;
    }
    h3.title {
        text-transform: capitalize;
        color: $bg_2;
        margin-bottom: 0;  
        font-family: $font-main-3;
        &.mb-20 {
            margin-bottom: 20px;
        }
        &.white {
            color: $white;
        } 
    }
    .button-style {
        text-transform: capitalize;
        font-size: 16px ;
        line-height: 26px;
        color: $bg_2;
        font-family: $font-main-1;
        font-weight: 700;
        text-transform: capitalize;
        &.white {
            color: $white;
            &:hover {
                color: $white;
            }
        } 
    }
}

.project-banner {
    background: url('./../../assets/images/backgroup/bg_featured.png') center center no-repeat;
    background-size: cover;
    padding: 100px 120px 290px;
    .tf-title {
        .title,
        p {
            width: 50%;
            color: $white;
        }
    }
}

.project-content { margin-top: -18.5%;
    padding: 0 120px;
    @include flex(flex-start,space-between);
    .col-50 {
        width: calc((100% - 74px) /2);
    }
}

.image-service {
    .image {
        position: relative;
    }
    .icon {
        z-index: 2;
        position: absolute;
        width: 40px;
        height: 100px;
        background-color: $color-hover;
        transform: rotate(15deg);
        top: 0;
        right: 30px;
        &.style2 {
            right: 100px;
        }
    }
}

.tf-testimonial {
    .overlay {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url('./../../assets/images/backgroup/bg_testimonials.jpg') center center no-repeat;
        background-size: cover;
    }

}

.home1 {
    .tf-section {
        &.tf-project {
            padding-bottom: 88px;
        }
        &.tf-testimonial {
            padding-bottom: 60px;
        }
    }
}

.home2 {
    .tf-section {
        &.tf-service {
            padding: 0;
        }
        &.tf-about {
            padding: 48px 0 50px;
        }
        &.tf-project {
            padding: 78px 0;
            &.style {
                padding: 86px 0 87px;
            }
            &.style2 {
                padding: 128px 0;
            }
        }
    }
}

.home3 {
    .tf-section {
        &.tf-blog  {
            padding-bottom: 196px;
        }
        &.tf-service {
            padding-bottom: 58px;
        }
        &.tf-testimonials {
            padding: 80px 0 79px;
        }
    }
    #footer {
        padding-top: 0px;
        margin-top: -10px;
        padding-bottom: 130px;
    }
}

.content-skill {
    padding: 68px 140px 68px 80px;
    margin-right: -130px;
    .tf-title {
        .title {
            margin-bottom: 24px;
        }
        p {
            margin-bottom: 34px;
        }
    }
    .list-skills {
        li {
            font-family: $font-main-2;
            font-size: 22px;
            line-height: 30px;
            color: $bg_2;
            font-weight: 700;
            margin-bottom: 20px;
            position: relative;
            padding-left: 42px;
            &::before {
                position: absolute;
                left: 0;
                top: 6px;
                content: "";
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 2px solid $bg_2;
                background-color: $color-hover;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}

.section-about {
    &.tf-section {
        padding: 38px 58px;
        transform: translateY(-50%); 
        z-index: 9;
    }
    .button-style.style4 {
        margin-top: -8px; 
        .btn-main {
            padding: 10px 30px;
        }
    }
    max-width: 1410px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $bg_2;
    overflow: hidden;
    border-radius: 12px;
}

.tf-statistics {
    &.tf-section {
        padding: 80px 0 85px;
    }
    .image {
        position: absolute;
        width: calc(50% - 15px);
        height: 100%;
        left: 0;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .counter_wrapper.style3 {
        padding-left: 70px;
        width: 100%;
        max-width: 420px;
    }
    .tf-title {
        padding-left: 70px;
    }
}

.content-about {
    &.col2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p,
        >div {
            width: calc((100% - 30px) / 2);
        }
    }
}