@use '../abstracts/' as *;
.swiper-pagination {
    @include flex(center,center);
    width: 100%;
    z-index: 9;
    opacity: 1;
    position: relative;
    span {
        opacity: 1;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        margin: 0 8px;
        position: relative;
        &::after {
            width: 16px;
            height: 16px;
            left: -5px;
            top: -5px;
            position: absolute;
            content: "";
            border: 1px solid $color-hover;
            border-radius: 50%;
            opacity: 0;
        }
        &.swiper-pagination-bullet-active {
            background-color: $color-hover;
            border-color: $color-hover;
            &::after {
                opacity: 1;
            }
        }
    }
}