@use '../abstracts/' as *;
.mb-60 {
    margin-bottom: 60px;
}

.mb-30 {
    margin-bottom: 84px;
}

.pt-54 {
    padding-top: 54px;
}
.pd-16 {
    padding: 0 16%;
}

.mb-36 {
    margin-bottom: 36px;
}
.mt-50 {
    margin-top: 50px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-40 {
    padding-top: 40px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-68 {
    margin-bottom: 68px;
}

.mt-20 {
    margin-top: -20%;
}

.relative {
    position: relative;
}

.max-width-460 {
    max-width: 460px;
}