@use '../abstracts/' as *;
.mb-60 {
    margin-bottom: 60px;
}

.pl-40 {
    padding-left: 40px;
}
.pt-96 {
    padding-top: 96px;
}
.mt-22 {
    margin-top: 22px;
}

.mb-30 {
    margin-bottom: 30px;
}
.pd-0 {
    padding: 0 !important;
}
.mb-42 {
    margin-bottom: 42px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-28 {
    margin-bottom: 28px;
}
.mb-38 {
    margin-bottom: 38px;
}
.pl-3 {
    padding-left: 3px;
}
.mb-77 {
     margin-bottom: 77px;
}

.mb-34 {
    margin-bottom: 34px;
}
.mb-40 {
    margin-bottom: 40px;
}

.mb-52 {
    margin-bottom: 52px;
}

.mb-38 {
    margin-bottom: 38px;
}

.mb-56 {
    margin-bottom: 56px;
}

.pt-50 {
    padding-top: 50px;
}
.pd-16 {
    padding: 0 16%;
}
.max-width-690 {
    max-width: 690px;
}
.max-width-650 {
    max-width: 650px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-56 {
    margin-top: 56px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.mt-44 {
    margin-top: 44px;
}

.mt35 {
    margin-top: 35px;
}

.mt-82 {
    margin-top: 82px;
}

.mb-16 {
    margin-bottom: 16px;
}

.pl-65 {
    padding-left: 65px;
}

.ml-35 {
    margin-left: -35px;
}

.mr-25 {
    margin-right: -25px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-20px {
    margin-top: 20px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mt-12 {
    margin-top: 12px;
}

.mt-36 {
    margin-top: 36px;
}

.mr-35 {
    margin-right: -35px;
}

.pl-90 {
    padding-left: 90px;
}
 
.pt-98 {
    padding-top: 98px;
}

.mb-33 {
    margin-bottom: 33px !important;
}

.pt-40 {
    padding-top: 40px;
}

.pl-35 {
    padding-left: 35px;
}

.ml-auto {
    margin-left: auto;
}

.pl-88 {
    padding-left: 88px;
}

.mb-75 {
    margin-bottom: 75px;
}

.pr-35 {
    padding-right: 35px;
}

.mb-5 {
    margin-bottom: 5px !important;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-40 {
    padding-top: 40px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-68 {
    margin-bottom: 68px;
}

.mt-20 {
    margin-top: -20%;
}

.relative {
    position: relative;
}

.max-width-460 {
    max-width: 460px;
}

.color_2 {
    color: $bg_2;
}

.pt-55 {
    padding-top: 55px;
}

.pl-70 {
    padding-left: 70px;
}

.pr-11 {
    padding-right: 11%;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-50 {
    padding-left: 50px;
}

.mt-38 {
    margin-top: 38px;
}

.pl-42 {
    padding-left: 42px;
}

.pt-18 {
    padding-top: 18px;
}

.pl-24 {
    padding-left: 24px;
}

.pt-48 {
    padding-top: 48px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-44 {
    margin-bottom: 44px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-12 {
    margin-bottom: 12px;
}
 
.pr-105 {
    padding-right: 105px;
}

.pl-55 {
    padding-left: 55px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-22 {
    margin-bottom: 22px;
}

.pl-14 {
    padding-left: 14px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-18 {
    margin-bottom: 18px !important;
}

.pb-30 {
    padding-bottom: 30px;
}