@use '../abstracts/' as *;
#footer { 
    padding: 80px 0;
    background-color: $bg_2;
    .footer-content {
        .title {
            margin-bottom: 20px;
            font-size: 80px;
            line-height: 1.2;
            color: $white;
        }
        .social {
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
 