
$txt-color: #A0A3AA;
$white: #fff;
$color-hover: #C8F27C;
$black: #000000;

$color_1: #3A3B3E;

$bg_1: #0E0E0E;
$bg_2: #171717;

$bg_3: #BBADFF;
$bg_4: #F3F1FB;
$bg_5: #F9F3E5; 
$bg_6: #3C60DC;
$bg_7: #FAF9F5;
$center: center;

$w100:100%;
$font-main-1: 'DM Sans', sans-serif;
$font-main-2: 'Space Grotesk', sans-serif;
$font-main-3: 'Montserrat', sans-serif;
$font-main-4: 'Plus Jakarta Sans', sans-serif;

$box-shadow: 0 0px 32px 0 rgba(34, 183, 143, 0.5);

$boder-bt: 1px solid rgba(255,255,255,0.2);
$bg-gradient: linear-gradient(to bottom, #22B78F 10%, #E9E9E9 100%);
$bg-gradient2: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.13%, #161616 100%);
$bg-gradient3: linear-gradient(90deg, rgba(0, 0, 0, 0) 0.13%, #161616 100%);
$res_1760: 1760px;
$res_1600: 1600px;
$res_1440: 1440px;
$res_1200: 1200px;
$res_991: 991px;
$res_767: 767px;
$res_600: 600px;
$res_500: 500px;
$res_400: 500px;
